.notificationCard {
  display: flex;
  /* border: 1px solid black; */
  padding: 0 0.75rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 1rem;
}

.notificationCard__imageContainer {
  /* border: 1px solid black; */
  /* width: 10%; */
  padding: 10px 10px;
}

.notificationCard__content {
  /* border: 1px solid black; */
  padding: 10px 10px 2rem;
  width: 80%;
}

.notificationCard__image {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.notificationCard__content {
  text-align: left;
}

.notificationCard__contentText {
  text-align: left;
}

.notificationCard__actionBar {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
