.editProfile {
  display: flex;
  padding: 0 0.75rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 1rem;
  flex-direction: column;
}

.editProfile__editItem {
    text-align: left;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.editProfile__editItemName {
  width: 20%;
}

.editProfile__editItemChange {
  width: 80%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.editProfile__image {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
