.newPost {
  display: flex;
  padding: 0 0.75rem;
  border: 1px solid rgb(239, 243, 244);
  border-bottom: none;
}

.newPost__imageContainer {
  /* border: 1px solid black; */
  /* width: 10%; */
  padding: 10px 10px;
}

.newPost__content {
  /* border: 1px solid black; */
  padding: 10px 10px 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.newPost__image {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.newPost__textarea {
  font-size: 1.25rem;
  padding-bottom: 2px;
  padding-top: 2px;
  resize: none;
  overflow: hidden;
  border: none;
  border-bottom: 1px solid #dfdcdc;
  overflow-y: auto;
}

.newPost__textarea:focus {
  outline: none;
}

